#boxTexto{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
#btSend{
    background-color:#0f527f;
    color: white;
    font-size: large;
}
#btBack{
    background-color:#0f527f;
    color: white;
    font-size: large;
}
#title{

 text-align: center;
 background-color:#0f527f;
 color: white;
}

.lblTxt{
    text-align: center;
    background-color:#0f527f;
    color: white;
}

#txtMensaje{

    display: block;
    width: 100%;
    overflow: hidden;
    resize: both;
    min-height: 300px;
    line-height: 20px;
}


#txtMensaje:focus{

    background-color:#0f527f;
    color: white;
    font-size: 25px;
    padding-top: 1%;
}

#listadoMsg{
    background-color: #546d83;

    color: white;
}
#table2{
    background-color: #16181c;
    background-color: white;
    margin-top: 0.2%;
}

#primeraTabla{
    margin-top: 0%;
    color: white;
    background-color: #16181c;
}



table#table2 tr:nth-child(odd)
  {   
    color: white;
    background-color:#0f527f;
  }

  table#table2 tr:nth-child(even)
  { 
    color: white;
    background-color: #16181c;
  }