.espaciadotoolbar{
   display: none;
   width: fit-content;
   
}
.opciones{
position:relative;
padding-top: 3%;
background-color:#1976d2;
color: white;  

}

table{
   padding-top: 2%;
   width: 97%;
   margin-left: 2%;
   font-size: 20px;
   background-color: #16181c;
   color: white;
   border: 2px solid #1976d2;
   
}

/*Titulo enlace que permite crear un nuevo hilo*/
#creaHilo{
   font-size: 25px;
   background-color: #0f527f;
   color: white;
   margin-bottom: 2%;
}
#creaHilo:hover{
   font-size: 25px;
   color: #0f527f;
   background-color: white;
   margin-bottom: 2%;
}

.idText{
   font-size: 22px;
   padding-left: 15px;
}
 
#infoId{
   padding-left: 15px;
   padding-top: 15px;
   background-color: #0f527f;
}
 