.espaciadotoolbar{
   display: none;
   width: fit-content;
   
}
.opciones{
position:relative;
padding-top: 3%;
background-color:#1976d2;
color: white;  

}

table{
   padding-top: 2%;
   width: 97%;
   margin-left: 2%;
   font-size: 20px;
   background-color: aliceblue;
   border: 2px solid #1976d2;
   
}

/*Titulo enlace que permite crear un nuevo hilo*/
#creaHilo{
   font-size: 25px;
}
 
.idText{
   font-size: 22px;
   padding-left: 15px;
}
 

 